<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workohölics</title>
  </head>

  <body>
    <header>
      <nav>
        <img src="../assets/Logo.svg" alt="" />
        <i id="menu-collapse-icon" class="fa-solid fa-bars"></i>
        <ul id="nav-menu-list">
          <li class="nav-menu-item">Menu 1</li>
          <li class="nav-menu-item">Menu 2</li>
          <li class="nav-menu-item">Menu 3</li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="intro">
        <p id="intro-lorem" class="behind-img"><b>LOREM</b></p>
        <div class="divider"></div>
        <img src="../assets/Mug1.png" alt="" />
        <p id="intro-ipsum" class="infront-img"><b>IPSUM</b></p>
        <div class="divider"></div>
        <p id="intro-dolor" class="behind-img"><b>DOLOR</b></p>
      </div>

      <div id="products">
        <ul id="products-intro">
          <li>
            Lorem ipsum dolor sit ame amet, consectetur adipiscing elit. Etiam
            <b>vulputate dui efficitur</b> ultrices pharetra. Praesent tempor
            mollis purus nec fringilla vel commodo.
          </li>
        </ul>

        <div id="t-shirt" class="product">
          <img id="t-shirt-img" src="../assets/Tshirt1.png" alt="" />
          <h2><b>T-shirt</b></h2>
          <p>
            Etiam vulputate dui efficitur ultrices pharetra. Praesent tempor
            mollis purus.
          </p>

          <div class="colour-samples">
            <div class="black sample-colour"></div>
            <div class="pink sample-colour"></div>
          </div>

          <a href="#">Buy <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          <div class="divider product-divider"></div>
        </div>

        <div id="bottle" class="product">
          <img id="bottle-img" src="../assets/Bottle1.png" alt="" />
          <h2>Bottle</h2>
          <p>
            Etiam vulputate dui efficitur ultrices pharetra. Praesent tempor
            mollis purus.
          </p>
          <div class="colour-samples">
            <div class="pink sample-colour"></div>
          </div>

          <a href="#">Buy <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          <div class="divider product-divider"></div>
        </div>
      </div>
    </main>

    <footer>
      <address id="address-desktop-view">
        <p>hello@workoholics.es</p>
        <p>+34 944 059 957</p>
      </address>

      <div id="footer-right-block">
        <div id="slogan">
          <h3>We love what we do.</h3>
          <h3>We are Worköholics.</h3>
        </div>

        <form action="#" method="POST">
          <label for="email"> </label>
          <input type="email" id="email" name="email" placeholder="E-mail" />

          <div id="terms-and-conditions-container">
            <label for="terms-and-conditions">
              <input class="checkbox" type="checkbox" />
              <div class="custom-checkbox"></div>
            </label>
            <span>
              I have read and accepted the <a href="#">Terms and Conditions</a>
            </span>
          </div>

          <button type="submit">
            Submit <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </button>
        </form>
      </div>

      <address id="address-mobile-view">
        <p>hello@workoholics.es</p>
        <p>+34 944 059 957</p>
      </address>
    </footer>
  </body>
</html>
