@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInFromRight {
  0% {
    transform: translate(1000%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@keyframes spinOnce {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
