@use "mixins.scss" as mixin;
@use "variables.scss" as var;
@use "animations.scss" as anim;

body {
  @include mixin.fade-in-animation(0s);

  margin: 0;
  padding-top: 0.5rem;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  padding: var.$page-padding-desktop;
}

app-introduction {
  margin-top: 3rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

app-contact-flag {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 24px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 770px;
  right: 0px;
}

app-products-list {
  display: flex;
  flex-direction: column;
  max-width: var.$max-width;
  width: 100%;
  align-self: center;
}

.img--infront-img {
  z-index: 2;
}

.img--behind-img {
  z-index: 0;
}

.divider {
  width: 100vw;
  max-width: 1260px;
  align-self: center;
  border-top: 2px solid var.$workoholics-black;
}

.divider--product {
  width: 100%;
}

.divider--flex {
  flex: 1;
}

.colour-samples {
  display: flex;
  margin-bottom: 3.5rem;
}

.sample-colour {
  margin-right: 1rem;
  width: var.$sample-colour-width;
  height: var.$sample-colour-height;

  background-color: gray;
}

.sample-colour:hover {
  @include mixin.sample-colour-size-grow(1.5);
}

.sample-colour--black {
  background-color: var.$workoholics-black;
}

.sample-colour--pink {
  background-color: var.$workoholics-pink;
}

form label {
  font-size: 16px;
}

.checkbox__wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  display: block;
  height: 13px;
  width: 13px;
  border: 1px solid #eee;
  background-color: var.$workoholics-black;
  margin-right: 1rem;
}

.checkbox__wrapper:hover input ~ .custom-checkbox {
  background-color: #eee;
}

.checkbox__wrapper input:checked ~ .custom-checkbox {
  background-color: var.$workoholics-pink;
}

.custom-checkbox:after {
  content: "";
  display: none;
}

.checkbox__wrapper input:checked ~ .custom-checkbox:after {
  display: block;
}

.checkbox__wrapper .custom-checkbox:after {
  position: relative;
  bottom: 2px;
  left: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  $rotation: 40deg;
  -webkit-transform: rotate($rotation);
  -ms-transform: rotate($rotation);
  transform: rotate($rotation);
}

.btn {
  border: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 1rem;
}

.btn--buy-btn {
  text-align: left;
  color: black;
  display: block;
  margin-bottom: 1rem;
  margin-left: 0rem;
  font-size: 20px;
  text-align: end;
}

.btn--buy-btn:hover {
  color: var.$workoholics-pink;
}

.btn--form-btn {
  background-color: var.$workoholics-black;
  font-size: 18px;
  color: white;
  margin-left: 0rem;
}

.btn--form-btn:hover {
  color: var.$workoholics-pink;
}

@media only screen and (max-width: 900px) {
  app-contact-flag {
    display: none;
  }

  .flex-divider {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: var.$page-padding-mobile;
  }

  .btn {
    display: block;
  }
  .btn--buy-btn {
    text-align: start;
  }
}
