@use "mixins.scss" as mixin;
@use "variables.scss" as var;
@use "animations.scss" as anim;

body {
  @include mixin.fade-in-animation(0s);

  margin: 0;
  padding-top: 0.5rem;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  padding: var.$page-padding-desktop;
}

nav {
  $interior-padding: 5vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: $interior-padding;
  padding-right: $interior-padding;
  display: flex;
  justify-content: space-between;
}

.nav__collapse-icon {
  display: none;
}

.intro {
  margin-top: 3rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.intro__word {
  position: relative;
  font-size: min(31vw, 217px);
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.intro__img {
  position: absolute;
  width: min(85vw, 645px);
  height: auto;
  z-index: 1;
  right: 150px;
  top: 190px;
  right: 24%;

  // opacity: 0;
  // @include mixin.fade-in-animation(1.4s);
  @include mixin.move-in-from-right();
}

.intro__lorem {
  align-self: flex-start;
  left: max(100px, 10vw);

  opacity: 0;
  @include mixin.fade-in-animation(1s);
}

.intro__ipsum {
  align-self: flex-end;
  right: max(140px, 10vw);

  opacity: 0;
  @include mixin.fade-in-animation(1.1s);
}

.intro__dolor {
  align-self: flex-start;
  left: max(100px, 10vw);

  opacity: 0;
  @include mixin.fade-in-animation(1.2s);
}

.contact-flag {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 24px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 770px;
  right: 0px;
}

.contact-flag:hover {
  .contact-flag__img {
    @include mixin.spin-once(0s);
  }
}

.contact-flag__img {
  margin-right: 2rem;
  transform: rotate(90deg);
}

.contact-flag__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: var.$workoholics-black;
}

.products {
  display: flex;
  flex-direction: column;
  max-width: var.$max-width;
  width: 100%;
  align-self: center;
}

.products__intro {
  max-width: 900px;
  align-self: flex-end;
  font-size: 32px;
  margin-bottom: 5rem;
  padding: 0;
  list-style-position: inside;
  list-style-image: url("../assets/Ellipse.png");
}

.product--t-shirt {
  align-self: flex-start;
  height: 565px;
  width: 100%;
  max-width: 617px;
  margin: 6rem 0 6rem;
}

.product--bottle {
  align-self: flex-end;
  height: 510px;
  width: 100%;
  max-width: 621px;
  margin: 0 0 9rem;
}

.product__t-shirt-img {
  $rotation: 14deg;
  -webkit-transform: rotate($rotation) scaleX(-1);
  transform: rotate($rotation) scaleX(-1);
  z-index: -1;
  left: 150px;
}

.product__bottle-img {
  $rotation: 32deg;
  -webkit-transform: rotate($rotation) scaleX(-1);
  transform: rotate($rotation) scaleX(-1);
  z-index: -1;
  right: 160px;
}

.footer__content {
  flex-grow: 1;
  max-width: var.$max-width;
  display: flex;
}

.slogan {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.slogan__text {
  font-size: 35px;
  margin: 0 auto 0;
}

.address--mobile-view {
  display: none;
}

.address--desktop-view {
  flex-grow: 1;
  margin-left: 3rem;
  margin-right: 3rem;
}

.address--desktop-view p {
  font-size: 25px;
}

.footer__right-block {
  flex-grow: 1;
  margin-bottom: 3rem;
}

.nav__list {
  display: flex;
  font-size: 18px;
  list-style: none;
  margin: 0px;
}

.nav__item {
  margin: auto 1rem auto;
  text-decoration: none;
  color: var.$workoholics-black;
}

.nav__item:hover {
  @include mixin.sample-colour-size-grow(1.3);
}

.img--infront-img {
  z-index: 2;
}

.img--behind-img {
  z-index: 0;
}

.divider {
  width: 100vw;
  max-width: 1260px;
  align-self: center;
  border-top: 2px solid var.$workoholics-black;
}

.divider--product {
  width: 100%;
}

.divider--flex {
  flex: 1;
}

.product {
  margin: 3rem 3rem 3rem;
  position: relative;
}

.product__title {
  font-size: 90px;
  margin-bottom: 0rem;
}

.product__img {
  position: absolute;
  height: 505px;
  width: auto;
}

.product__text {
  font-size: 16px;
  width: 318px;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.product__buy {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 1rem;
}

.product__product-footer {
  display: flex;
  justify-content: space-between;
}

.colour-samples {
  display: flex;
  margin-bottom: 3.5rem;
}

.sample-colour {
  margin-right: 1rem;
  width: var.$sample-colour-width;
  height: var.$sample-colour-height;

  background-color: gray;
}

.sample-colour:hover {
  @include mixin.sample-colour-size-grow(1.5);
}

.sample-colour--black {
  background-color: var.$workoholics-black;
}

.sample-colour--pink {
  background-color: var.$workoholics-pink;
}

footer {
  display: flex;
  justify-content: center;
  padding: var.$page-padding-desktop;
  background-color: var.$workoholics-black;
  color: white;
}

.address {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.address__text {
  font-style: normal;
  margin: 0 0 0.5rem;
  font-size: 18px;
}

form label {
  font-size: 16px;
}

.email {
  width: 100%;
  box-sizing: border-box; /* add this */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 20px;
  display: block;
  border-right: 0px;
  border-bottom: 1px solid #ccc;
  background-color: var.$workoholics-black;
  color: white;
  margin-bottom: 1rem;
}

.terms-and-conditions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
}

.terms-and-conditions__link {
  color: white;
}

.terms-and-conditions__wrapper {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: baseline;
}

.terms-and-conditions__text {
  font-size: 14px;
  margin-bottom: 1rem;
}

.checkbox__wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  display: block;
  height: 13px;
  width: 13px;
  border: 1px solid #eee;
  background-color: var.$workoholics-black;
  margin-right: 1rem;
}

.checkbox__wrapper:hover input ~ .custom-checkbox {
  background-color: #eee;
}

.checkbox__wrapper input:checked ~ .custom-checkbox {
  background-color: var.$workoholics-pink;
}

.custom-checkbox:after {
  content: "";
  display: none;
}

.checkbox__wrapper input:checked ~ .custom-checkbox:after {
  display: block;
}

.checkbox__wrapper .custom-checkbox:after {
  position: relative;
  bottom: 2px;
  left: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  $rotation: 40deg;
  -webkit-transform: rotate($rotation);
  -ms-transform: rotate($rotation);
  transform: rotate($rotation);
}

.btn {
  border: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 1rem;
}

.btn--buy-btn {
  text-align: left;
  color: black;
  display: block;
  margin-bottom: 1rem;
  margin-left: 0rem;
  font-size: 20px;
  text-align: end;
}

.btn--buy-btn:hover {
  color: var.$workoholics-pink;
}

.btn--form-btn {
  background-color: var.$workoholics-black;
  font-size: 18px;
  color: white;
  margin-left: 0rem;
}

.btn--form-btn:hover {
  color: var.$workoholics-pink;
}

@media only screen and (max-width: 1800px) {
  .intro__img {
    right: 7%;
  }
}

@media only screen and (max-width: 900px) {
  .contact-flag {
    display: none;
  }
  .intro__img {
    right: 0vw;
    left: 25vw;
  }

  .flex-divider {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: var.$page-padding-mobile;
  }

  footer {
    padding: var.$page-padding-mobile;
  }
  .nav__collapse-icon {
    display: block;
  }
  .products__intro {
    max-width: 900px;
    align-self: flex-end;
    font-size: 24px;
    margin: 0;
  }

  .product--t-shirt {
    align-self: auto;

    height: auto;
    margin-bottom: 3rem;
    margin-top: 8rem;
  }

  .product--bottle {
    align-self: auto;
    margin: auto 0 auto;
    height: auto;
    margin-top: 8rem;
    margin-bottom: 12rem;
  }

  .product__t-shirt-img {
    $rotation: 14deg;
    -webkit-transform: rotate($rotation) scaleX(-1);
    transform: rotate($rotation) scaleX(-1);
    z-index: -1;
    left: 120px;
  }

  .product__bottle-img {
    $rotation: 32deg;
    -webkit-transform: rotate($rotation) scaleX(-1);
    transform: rotate($rotation) scaleX(-1);
    z-index: -1;
    left: 160px;
  }

  .footer__content {
    flex-direction: column;
  }

  .slogan__text {
    font-size: 26px;
  }

  .address--mobile-view {
    display: block;
    font-size: 18px;
  }

  .address--desktop-view {
    display: none;
  }

  .footer__right-block {
    margin-bottom: 0rem;
  }

  .nav__list {
    display: none;
  }

  .product {
    margin: 6rem auto 6rem;
  }

  .product__title {
    font-size: 50px;
    margin-bottom: 0rem;
  }

  .product__img {
    width: auto;
    height: 365px;
  }

  .product__text {
    font-size: 14px;
    width: 180px;
  }

  .product__footer {
    flex-direction: column;
  }

  footer {
    display: block;
  }

  .btn {
    display: block;
  }

  .address {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }
  .btn--buy-btn {
    text-align: start;
  }
}
