$workoholics-black: #212222;
$workoholics-pink: #fb088c;
$page-padding-desktop: 0 3rem 0;
$page-padding-mobile: 0 1rem 0;

$max-width: 1450px;
$min-width: 375px;

$sample-colour-width: 31px;
$sample-colour-height: 14px;
