// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use "@angular/material" as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// /* For use in src/lib/core/theming/_palette.scss */
// $workoholics-grey-palette: (
//   50: #e4e4e4,
//   100: #bcbdbd,
//   200: #909191,
//   300: #646464,
//   400: #424343,
//   500: #212222,
//   600: #1d1e1e,
//   700: #181919,
//   800: #141414,
//   900: #0b0c0c,
//   A100: #e76c6c,
//   A200: #e04040,
//   A400: #ec0000,
//   A700: #d30000,
//   contrast: (
//     50: #000000,
//     100: #000000,
//     200: #000000,
//     300: #ffffff,
//     400: #ffffff,
//     500: #ffffff,
//     600: #ffffff,
//     700: #ffffff,
//     800: #ffffff,
//     900: #ffffff,
//     A100: #000000,
//     A200: #ffffff,
//     A400: #ffffff,
//     A700: #ffffff,
//   ),
// );

// $workoholics-pink-palette: (
//   50: #ffe1f1,
//   100: #feb5dd,
//   200: #fd84c6,
//   300: #fc52af,
//   400: #fc2d9d,
//   500: #fb088c,
//   600: #fa0784,
//   700: #fa0679,
//   800: #f9046f,
//   900: #f8025c,
//   A100: #ffffff,
//   A200: #ffebf1,
//   A400: #ffb8ce,
//   A700: #ff9fbc,
//   contrast: (
//     50: #000000,
//     100: #000000,
//     200: #000000,
//     300: #000000,
//     400: #ffffff,
//     500: #ffffff,
//     600: #ffffff,
//     700: #ffffff,
//     800: #ffffff,
//     900: #ffffff,
//     A100: #000000,
//     A200: #000000,
//     A400: #000000,
//     A700: #000000,
//   ),
// );

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $workoholics-test-primary: mat.define-palette($workoholics-grey-palette);
// $workoholics-test-accent: mat.define-palette($workoholics-pink-palette);

// // The warn palette is optional (defaults to red).
// $workoholics-test-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $workoholics-test-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $workoholics-test-primary,
//       accent: $workoholics-test-accent,
//       warn: $workoholics-test-warn,
//     ),
//   )
// );

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($workoholics-test-theme);

/* You can add global styles to this file, and also import other style files */
$workoholics-black: #212222;
$workoholics-pink: #fb088c;
$page-padding-desktop: 0 2rem 0;
$page-padding-mobile: 0 1rem 0;

#nav-menu-list {
  display: flex;
  font-size: 18px;
  list-style: none;
  margin: 0px;
}

#menu-collapse-icon {
  display: none;
}

#intro {
  margin-top: 3rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro #intro-lorem {
  align-self: flex-start;
  left: max(75px, 10vw);
}

#intro #intro-ipsum {
  align-self: flex-end;
  right: max(115px, 22vw);
}

#intro #intro-dolor {
  align-self: flex-start;
  left: max(100px, 10vw);
}

#intro p {
  position: relative;
  font-size: min(31vw, 217px);
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#intro img {
  position: absolute;
  width: min(85vw, 645px);
  height: auto;
  z-index: 1;

  right: 150px;
  top: 190px;
  right: 12%;
}

#products {
  display: flex;
  flex-direction: column;
}

#products-intro {
  max-width: 900px;
  align-self: flex-end;
  font-size: 32px;
  margin-bottom: 5rem;
  margin-right: 4rem;
}

#t-shirt {
  align-self: flex-start;
  height: 565px;
  width: 100%;
  max-width: 617px;
  margin: 6rem 0 0;
}

#bottle {
  align-self: flex-end;
  height: 510px;
  width: 100%;
  max-width: 621px;
  margin: 6rem 0 9rem;
}

#t-shirt-img {
  $rotation: 14deg;
  -webkit-transform: rotate($rotation) scaleX(-1);
  transform: rotate($rotation) scaleX(-1);
  z-index: -1;
  left: 150px;
}

#bottle-img {
  $rotation: 32deg;
  -webkit-transform: rotate($rotation) scaleX(-1);
  transform: rotate($rotation) scaleX(-1);
  z-index: -1;
  right: 220px;
}

#slogan {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#slogan h3 {
  margin: 0 auto 0;
}

#address-mobile-view {
  display: none;
}

#address-desktop-view {
  flex-grow: 1;
  margin-left: 3rem;
  margin-right: 3rem;
}

#address-desktop-view p {
  font-size: 25px;
}

#footer-right-block {
  flex-grow: 1;
  margin-bottom: 3rem;
}

#terms-and-conditions-text {
  margin-bottom: 1rem;
}

.nav-menu-item {
  margin: auto 1rem auto;
}

.infront-img {
  z-index: 2;
}

.behind-img {
  z-index: 0;
}

.divider {
  width: 100vw;
  max-width: 1260px;
  align-self: center;
  border-top: 2px solid $workoholics-black;
}

.product-divider {
  width: 100%;
}

.product {
  margin: 3rem 3rem 3rem;
}

.product h2 {
  font-size: 90px;
  margin-bottom: 0rem;
}

.product img {
  position: absolute;
  height: 505px;
  width: auto;
}

.product p {
  font-size: 16px;
  width: 318px;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.product a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 1rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}

.colour-samples {
  display: flex;
  margin-bottom: 3.5rem;
}

.sample-colour {
  margin-right: 1rem;
  width: 31px;
  height: 14px;
}

.black {
  background-color: $workoholics-black;
}

.pink {
  background-color: $workoholics-pink;
}

.flex-divider {
  flex: 1;
}

nav {
  $interior-padding: 5vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: $interior-padding;
  padding-right: $interior-padding;
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding-top: 0.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  overflow-x: hidden;
  position: relative;
}

main {
  padding: $page-padding-desktop;
}

ul {
  padding: 0;
  list-style-position: inside;
  list-style-image: url("./assets/Ellipse.png");
}

footer {
  padding: $page-padding-desktop;
  background-color: $workoholics-black;
  color: white;
  display: flex;
}

footer address {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

footer address p {
  font-style: normal;
  margin: 0px;
  font-size: 18px;
}

form label {
  font-size: 16px;
}

form #email {
  width: 100%;
  box-sizing: border-box; /* add this */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 20px;
  display: block;
  border-right: 0px;
  border-bottom: 1px solid #ccc;
  background-color: $workoholics-black;
  color: white;
  margin-bottom: 1rem;
}

form #terms-and-conditions-container {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

form input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

form .custom-checkbox {
  display: inline-block;
  height: 13px;
  width: 13px;
  border: 1px solid #eee;
  background-color: $workoholics-black;
  margin-right: 1rem;
}

form span {
  font-size: 14px;
}

form a {
  color: white;
}

form button {
  font-size: 18px;
  background-color: $workoholics-black; /* Green */
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 1rem;
}

@media only screen and (max-width: 900px) {
  #intro img {
    right: 0vw;
    left: 25vw;
  }

  .flex-divider {
    flex-basis: 100%;
  }

  #terms-and-conditions-check {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #nav-menu-list {
    display: none;
  }
  #menu-collapse-icon {
    display: block;
  }
  #products-intro {
    max-width: 900px;
    align-self: flex-end;
    font-size: 24px;

    margin: 0;
  }
  .product {
    margin: 12rem auto 12rem;
  }

  .product h2 {
    font-size: 50px;
    margin-bottom: 0rem;
  }

  .product img {
    width: auto;
    height: 365px;
  }

  .product p {
    font-size: 14px;
    width: 180px;
  }

  .product-footer {
    flex-direction: column;
  }

  #t-shirt {
    align-self: auto;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    margin-bottom: 3rem;
    margin-top: 8rem;
  }

  #bottle {
    align-self: auto;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    margin-top: 8rem;
    margin-bottom: 12rem;
  }

  #t-shirt-img {
    $rotation: 14deg;
    -webkit-transform: rotate($rotation) scaleX(-1);
    transform: rotate($rotation) scaleX(-1);
    z-index: -1;
    left: 120px;
  }

  #bottle-img {
    $rotation: 32deg;
    -webkit-transform: rotate($rotation) scaleX(-1);
    transform: rotate($rotation) scaleX(-1);
    z-index: -1;
    left: 160px;
  }

  #address-mobile-view {
    display: block;
  }

  #address-desktop-view {
    display: none;
  }

  #footer-right-block {
    margin-bottom: 0rem;
  }

  main {
    padding: $page-padding-mobile;
  }

  footer {
    display: block;
  }

  footer form button {
    display: block;
  }

  footer address {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }

  form button {
    margin-left: 0;
  }
}
