<ul class="products__intro">
  <li>
    Lorem ipsum dolor sit ame amet, consectetur adipiscing elit. Etiam
    <b>vulputate dui efficitur</b> ultrices pharetra. Praesent tempor mollis
    purus nec fringilla vel commodo.
  </li>
</ul>

<div class="product product--t-shirt">
  <img
    class="product__img product__t-shirt-img"
    [src]="tShirtImageSource"
    alt="T-shirt"
  />
  <h2 class="product__title"><b>T-shirt</b></h2>
  <p class="product__text">
    Etiam vulputate dui efficitur ultrices pharetra. Praesent tempor mollis
    purus.
  </p>

  <div class="product__footer">
    <div class="colour-samples">
      <div
        class="sample-colour sample-colour--black"
        (click)="changeTShirtImage('black')"
      ></div>
      <div
        class="sample-colour sample-colour--pink"
        (click)="changeTShirtImage('pink')"
      ></div>
    </div>

    <a class="btn btn--buy-btn" href="#"
      >Buy <i class="fa-solid fa-arrow-right-to-bracket"></i
    ></a>
  </div>
  <div class="divider divider--product"></div>
</div>

<div class="product product--bottle">
  <img
    class="product__img product__bottle-img"
    src="../assets/Bottle1.png"
    alt="Bottle"
  />
  <h2 class="product__title">Bottle</h2>
  <p class="product__text">
    Etiam vulputate dui efficitur ultrices pharetra. Praesent tempor mollis
    purus.
  </p>
  <div class="product__footer">
    <div class="colour-samples">
      <div class="pink sample-colour sample-colour--pink"></div>
    </div>

    <a class="btn btn--buy-btn" href="#"
      >Buy <i class="fa-solid fa-arrow-right-to-bracket"></i
    ></a>
  </div>
  <div class="divider divider--product"></div>
</div>
