<footer>
  <div class="footer__content">
    <address class="address address--desktop-view">
      <p class="address__text">hello@workoholics.es</p>
      <p class="address__text">+34 944 059 957</p>
    </address>

    <div class="footer__right-block">
      <div class="slogan">
        <h3 class="slogan__text">We love what we do.</h3>
        <h3 class="slogan__text">We are Worköholics.</h3>
      </div>

      <form action="#" method="POST">
        <label for="email"></label>
        <input
          type="email"
          id="email"
          class="email"
          name="email"
          placeholder="E-mail"
        />

        <div class="terms-and-conditions">
          <div class="terms-and-conditions__wrapper">
            <label class="checkbox__wrapper" for="terms-and-conditions">
              <input
                name="terms-and-conditions"
                id="terms-and-conditions"
                class="checkbox"
                type="checkbox"
              />
              <span class="custom-checkbox"></span>
            </label>

            <span class="terms-and-conditions__text">
              I have read and accepted the
              <a class="terms-and-conditions__link" href="#"
                >Terms and Conditions</a
              >
            </span>
          </div>

          <button class="btn btn--form-btn" type="submit">
            Submit <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </button>
        </div>
      </form>
    </div>

    <address class="address address--mobile-view">
      <p class="address__text">hello@workoholics.es</p>
      <p class="address__text">+34 944 059 957</p>
    </address>
  </div>
</footer>
