<footer>
  <div id="footer-content">
    <address id="address-desktop-view">
      <p>hello@workoholics.es</p>
      <p>+34 944 059 957</p>
    </address>

    <div id="footer-right-block">
      <div id="slogan">
        <h3>We love what we do.</h3>
        <h3>We are Worköholics.</h3>
      </div>

      <form action="#" method="POST">
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="E-mail" />

        <div id="terms-and-conditions-container">
          <div id="terms-and-conditions-check">
            <label for="terms-and-conditions">
              <input class="checkbox" type="checkbox" />
              <div class="custom-checkbox"></div>
            </label>

            <span id="terms-and-conditions-text">
              I have read and accepted the
              <a href="#">Terms and Conditions</a>
            </span>
          </div>
          <span class="flex-divider"></span>
          <button type="submit">
            Submit <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </button>
        </div>
      </form>
    </div>

    <address id="address-mobile-view">
      <p>hello@workoholics.es</p>
      <p>+34 944 059 957</p>
    </address>
  </div>
</footer>
